@model IEnumerable<Movie_Rental.Models.Movie>
@{
    ViewBag.Title = "MovieList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<hr />
<p>
    @Html.ActionLink("New Movie", "NewMovie", "Movie", null, new { @class = "btn btn-primary" })
</p>


@if (!Model.Any())
{
    <p>No Movies yet</p>
}
else
{
    <table id="movies" class="table table-hover">
        <thead>
            <tr>
                <th>Movie ID</th>
                <th>Title</th>
                <th>Genre</th>
               
                <th>Price</th>
                <th>Release Year</th>
                <th>Available For Rent</th>
                <th>New Release</th>
                <!--<th>Delete</th>-->
            </tr>
        </thead>

        <tbody>

            @foreach (var movie in Model)
            {
            <tr>
                <td>@movie.MovieId</td>
                <td>@Html.ActionLink(movie.Title, "EditMovie", "Movie", new { id = movie.MovieId }, null)</td>
               
                <td>@movie.Genre</td>
                <td>@movie.Price</td>
                <td>@movie.ReleaseYear</td>
                <td>@Html.DisplayFor(modelItem => movie.AvailableForRent)</td>
                <td>@Html.DisplayFor(modelItem => movie.NewRelease)</td>
                <!----<td>
                    <button data-movie-id="@movie.MovieId" class="btn-link js-delete">Delete</button>
                </td>-->
            </tr>
            }

        </tbody>


    </table>
}

@section scripts
    {
    <script>

        $(document).ready(function () {

            var table = $("#movies").DataTable();

            $("#movies .js-delete").on("click", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this customer?", function (result) {

                    if (result) {
                        $.ajax({
                            url: "/api/movies/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}

